* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #000000;
    color: hsl(261, 6%, 49%);
  }
  
  header {
    background-color: #000;
    color: rgb(161, 4, 4);
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .header-img {
    width: 100%;
    height: auto;
  }
  
  .logo {
    font-size: 2em;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: rgb(101, 8, 184);
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .gallery-vertical {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .gallery-item {
    box-shadow: 0 4px 8px rgb(255, 1, 234);
    text-align: center;
    background-color: rgba(5, 13, 51, 0.76);
    padding: 10px;
  }
  
  .gallery-item img {
    max-width: 100%;
    height: 200px; 
    object-fit: cover; 
    display: block;
    margin: 0 auto;
  }
  .gallery-item p {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }
  .historia-container {
    display: flex;
    gap: 20px; /* Espacio entre columnas */
    background-color: rgb(255, 230, 0);
    padding: 20px;
    box-shadow: 0 4px 8px rgb(222, 238, 3);
  }
  
  .parrafo {
    flex: 1;
    padding: 10px;
    margin-right: 20px; /* Espacio adicional entre columnas */
  }
  
  .parrafo:last-child {
    margin-right: 0; /* Elimina el margen derecho del último párrafo */
  }
  
  .contactos-container {
    display: flex;
    gap: 20px;
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    border-radius: 10px;
  }
  .contacto-item {
    flex: 1;
    padding: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgb(231, 0, 0);
    border-radius: 10px;
    text-align: center;
    background-color: #2d2f35a9;
  }
  
  .contacto-item h3 {
    margin-bottom: 10px;
  }
  
  .contacto-item p {
    margin: 5px 0;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(50, 22, 70);
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    border-radius: 5px;
  }
  
  video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
  }
  
  .social-icons img {
    width: 30px;
    height: auto;
    margin: 0 10px;
  }